/* Register bileşeni için stiller */
section {
    background-color: #fff0f6;
  }
  
  input[type="text"],
  input[type="password"] {
    border: 1px solid #d32f2f;
  }
  
  button {
    background-color: #d32f2f;
  }
  
  button:hover {
    background-color: #9a1e1e;
  }
  